{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_favicon %}
    <link rel="shortcut icon" href="{{ asset('favicon.svg') }}">
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block page_title %}
    {% if ea.crud.customPageTitle is defined %}
        {{ ea.crud.customPageTitle|trans|raw }}
    {% else %}
        {{ block('content_title') }}
    {% endif %}
{% endblock %}

{% block content_header_wrapper %}
    {% if ea.crud.customPageTitle is not defined %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block user_menu %}
    {% if app.user %}
        <div class="user-menu">
            <div class="user-details">
                <span class="user-name">{{ app.user.firstName }} {{ app.user.lastName }}</span>
                <small class="user-email">{{ app.user.email }}</small>
            </div>
            <div class="user-actions">
                <a href="{{ path('app_logout') }}" class="user-action-logout">
                    <i class="fa fa-sign-out-alt"></i>
                    <span>Wyloguj</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
